# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
coverage/

# Package manager files
pnpm-lock.yaml

# IDE files
.idea/
.vscode/
*.sublime-*

# System files
.DS_Store
Thumbs.db
*.log
*.swp
*.swo